@import '../../node_modules/bulma/bulma';

@import 'background';
@import 'city';
@import 'mapview';
@import 'modal';
@import 'page';
@import 'picker';
@import 'pricedisplay';
@import 'searchbar';
@import 'searchbardropdown';
@import 'tripview';
@import 'trip';

//@import '../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.first {
  position: relative;
}


.length {
  width: 51px;
}

// based on https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_bottom
.tooltip {
  visibility: hidden;

  position: absolute;

  background-color: #263238;
  color: white;

  top: 110%;
  left: 50%;
  margin-left: -100%;

  padding: 0 5px;
  border-radius: 5px;
  width: 200%;
  text-align: center
}

.has-tooltip-bottom .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.has-tooltip-bottom {
  position: relative;
  display: inline-block;
}

.has-tooltip-bottom:hover .tooltip {
  visibility: visible;
}