@keyframes scaleIn {
  from {
    transform: scale(0.2, 0.2);
    opacity: 1;
    //border-width: 2px;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
    //border-width: 1px;
  }
}

#circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //overflow: hidden;
  position: relative;
  transform: translate(0, 50%);
}

.circle {
  position: absolute;
  border-radius: 50%;
  //background-color: deepskyblue;
  //border: 1px solid red;
  width: 50px;
  height: 50px;
  opacity: 0;
  animation: scaleIn 4s; // infinite; // cubic-bezier(0.07, 0.91, 1, 1.81);
}

.item {
  z-index: 1;
  border-radius: 50%;
  //background-color: red;
  align-items: center;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  width: 10px;
  height: 10px;
  justify-content: center;
  padding: 4px;
  position: relative;
}
