.action-tag:hover {
  filter: brightness(85%);
}

.upper {
  padding: 1px;
}

.lower .level, .upper.level, #total .level, #total .content {
  margin-bottom: 0 !important;
}

.lower-inner {
  border-left: 2px solid gray;
  margin-left: 10px;
  padding-left: 10px;
}

.lower-closed {
  overflow: hidden;
  max-height: 0;
}

.lower {
  height: auto;
}

.is-loading {
  z-index: 0;
}

@keyframes lower-open {
  from {
    max-height: 0;
    overflow: hidden;
  }

  to {
    max-height: 100px !important;
    overflow: visible;
  }
}

.lower {
  transition: max-height 0.3s;
}

.lower-open {
  animation: lower-open 0.3s;
  max-height: 100px;
}
