#trips-box {
  padding: 10px 10px 10px 0;
  border-radius: 25px;
}

#trip-view {
  background: white;
  height: 100%;
  position: relative
}

.above {
  padding: 10px;
  z-index: 2;
  position: relative;
}

.floating {
  padding: 10px;
}

.animating-search-bar {
  position: absolute;
  top: 10px !important; // todo variable
  left: 10px !important;
  width: 520px !important; // todo ???
  transform: none !important;
  transition: all 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s;
}

.fade-out {
  opacity: 0;
  animation: fade-in reverse 0.2s;
}

// https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div
#alone-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 295px;
}

#alone-searchbar {
  position: absolute;
  top: 30%;
  //left: 23%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 295px;
}

.divider {
  border-bottom: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

.reset-button {

}

.global-actions {
  float: right;
}