@keyframes backwards {
    from {
        transform: rotateX(90deg);
        animation-timing-function: ease-in-out;
    }

    to {
    }
}

@keyframes forwards {
    from {
        transform: rotateX(-90deg);
        animation-timing-function: ease-in-out;
    }

    to {
    }
}

.backwards {
    animation-name: backwards;
}

.forwards {
    animation-name: forwards;
}

.flip {
    backface-visibility: visible !important;
    transform-origin: top !important;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.none {
    position: relative;
}

.parent {
    line-height: 0;
    display: flex;
    flex-direction: column;
}