@keyframes backwards {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
        animation-timing-function: ease-in-out;
        /*opacity: 0.5;*/
    }

    /*60% {*/
    /*    transform: perspective(400px) rotate3d(1, 0, 0, -30deg);*/
    /*    animation-timing-function: ease-in-out;*/
    /*}*/

    /*80% {*/
    /*    transform: perspective(400px) rotate3d(1, 0, 0, 20deg);*/
    /*    animation-timing-function: ease-in-out;*/
    /*}*/

    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }
}

@keyframes forwards {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
        animation-timing-function: ease-in-out;
        /*opacity: 0.5;*/
    }

    /*60% {*/
    /*    transform: perspective(400px) rotate3d(1, 0, 0, 30deg);*/
    /*    animation-timing-function: ease-in-out;*/
    /*}*/

    /*80% {*/
    /*    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);*/
    /*    animation-timing-function: ease-in-out;*/
    /*}*/

    to {
        transform: perspective(400px)
        /*rotate3d(1, 0, 0, -10deg);*/
    }
}

.backwards {
    animation-name: backwards;
}

.forwards {
    animation-name: forwards;
}

.flip {
    backface-visibility: visible !important;
    transform-origin: 0 0 0;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.none {
    /*display: none;*/
    /*background-color: #8F1136;*/
    position: absolute;
}

.parent {
    line-height: 0;
}