@keyframes hinge-from-front {
  from {
    transform: rotateX(90deg);
    animation-timing-function: linear;
  }

  to {
    transform: rotateX(0deg);
  }
}

@keyframes hinge-from-front-last {
  from {
    transform: rotateX(90deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: rotateX(-90deg);
    animation-timing-function: ease-out;
  }

  80% {
    transform: rotateX(40deg);
    animation-timing-function: ease-in-out;
  }

  to {
    transform: rotateX(0deg);
  }
}

.hinge-from-front {
  animation-name: hinge-from-front;
}

.hinge-from-front-last {
  animation-name: hinge-from-front-last;
  animation-duration: 1s !important;
}

.flip {
  backface-visibility: visible !important;
  transform-origin: top;
  animation-direction: normal;
}

.backwards {
  animation-direction: reverse;
}

.animated {
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

.flip-parent {
  line-height: 0;
  //display: flex;
  //flex-direction: column;
  height: 24px;
  overflow: hidden;
}

.none {
  display: none;
}

.tags.price-picker, .tag.price-picker-tag {
  margin-bottom: 0;
  border-radius: 0;
}

.price-picker {
  //width: 150px;
  position: absolute;
}

.enlarge {
  //-webkit-transition: height 1s linear;
  //-moz-transition: height 1s linear;
  //-ms-transition: height 1s linear;
  //-o-transition: height 1s linear;
  //transition: height 1s linear;

  height: 120px;
}

@keyframes lower-open {
  from {
    max-height: 0;
  }

  to {
    max-height: 100px !important;
  }
}

.lower {
  transition: max-height 0.3s;
}

.lower-open {
  animation: lower-open 0.3s;
  max-height: 100px;
}

@keyframes scaleIn {
  from {
    transform: scale(0.2, 0.2);
    opacity: 1;
    //border-width: 2px;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
    //border-width: 1px;
  }
}

#circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //overflow: hidden;
  position: relative;
  transform: translate(0, 50%);
}

.circle {
  position: absolute;
  border-radius: 50%;
  //background-color: deepskyblue;
  border: 1px solid red;
  width: 50px;
  height: 50px;
  opacity: 0;
  animation: scaleIn 4s; // infinite; // cubic-bezier(0.07, 0.91, 1, 1.81);
}

.item {
  z-index: 1;
  border-radius: 50%;
  //border: 1px solid red;
  background-color: red;
  //width: 30px;
  //height: 30px;

  align-items: center;
  //background-color: #FFFFFF;
  //border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  width: 10px;
  height: 10px;
  justify-content: center;
  padding: 4px;
  position: relative;

  //position: relative;
  //transition: all 0.3s ease-out;
}

.animating-search-bar {
  position: absolute;
  top: 10px !important; // todo variable
  left: 10px !important;
  width: 520px !important; // todo ???
  transition: all 0.5s ease-in-out;
}

.fading {
    //animation: fading 0.5s;
  opacity: 0;
  transition: opacity 0.5s;
}