@import '../node_modules/bulma/bulma.sass';

@import "leaflet/dist/leaflet.css";


@import './animation.scss';

//@import '../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  //height: 100%;
  //margin: 0;
}

#navbar {
  height: 6vh;
}

//#main {
//  //display: flex;
//  //flex-direction: column;
//  height: 100%;
//}
//
//#container {
//  display: flex;
//  height: 50vh;
//  overflow: none;
//  //flex-grow: 1;
//  //height: 90vh;
//}
//
//#navbar {
//  height: 50px;
//}

#map {
  flex: 7;
}

#trip {
  flex: 3;
  box-shadow: -20px 6px 10px 5px rgba(0, 0, 0, 0.1215686275);
  z-index: 100;
  position: relative;
}

#container {
  display: flex;
}

.search-block {
  display: block;
  vertical-align: middle;
}

.closed-trip {
  border-radius: 25px;
  border: 2px solid #73AD21;
  width: 100%;
  margin-bottom: 10px;
}

#trips-box {
  //height: 80%;
  //border: 2px solid #7321AD;
  padding: 10px;
  border-radius: 25px;
}

#trip-view {
  background: white;
  height: 100%;
  //padding: 10px;
  position: relative
}

.above {
  padding: 10px;
}

.floating {
  padding: 10px;
}

.open-trip {
  border-radius: 25px;
  border: 1px solid #8F1136;
  height: 100%;
  padding: 10px;
}

.trip-title-breadcrumb {
  margin-bottom: 0 !important;
}

.logo {
  width: 30px;
  height: 30px;
}

.upper {
  //background: #e8eef2;
  padding: 1px;
}

.upper:hover {
  //filter: brightness(85%);
  background: #c7d3dd;
  //background: #edf0da;
}

.upper:hover + .lower {
  //filter: brightness(95%);
  //background: #ddeef0;
  //background: #edf0da;
}

.upper::before {

}

.lower .level, .upper.level, #total .level, #total .content {
  margin-bottom: 0 !important;
}



.lower-inner {
  border-left: 2px solid gray;
  margin-left: 10px;
  padding-left: 10px;
}

.lower-closed {
  max-height: 0;
}

.lower {
  overflow: hidden;
  height: auto;
}

.first {
  position: relative;
}

.vl {
  border-left: 2px solid gray;
  //height: 100%;
  height: 40px;
  margin-left: 10px;
}

.divider {
  border-bottom: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

.dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.city {
  border-radius: 25px;
  padding: 0 5px;
  //border: 1px solid red;
}

.upper.level {
  //padding: 10px 0 10px 0;
}

//.price-grouping {
//  border-radius: 10px;
//  padding: 3px;
//}
//
//.price-grouping:hover {
//  border: 1px solid dodgerblue;
//}

#canvas {
  //z-index: -1;
  //width: 450px;
  //height: 700px;
  width: 100%;
  height: 100%;
  //object-fit: fill;
  position: absolute;
  //top: 5%;
  //left: 50%;
}

// https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div
#alone-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 295px;
}

#alone-searchbar {
  position: absolute;
  top: 30%;
  //left: 23%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 295px;
}

#search-form {
  width: 100%;
}

//#search-form {
//  width: 80%;
//}

.price-picker:hover {
  filter: brightness(85%);
}

.on-top {
  z-index: 1;
}

.price {
  width: 41px;
}

.length {
  width: 51px;
}

.is-loading {
  z-index: 0;
}

// https://www.coding-dude.com/wp/css/css-star/#:~:text=To%20make%20this%204%20points,and%20the%20other%20rotates%20%2D45deg%20.
.cheapest:before{
  content: "";
  position: absolute;
  background: white;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg)  skewX(22.5deg) skewY(22.5deg);
  top: 4px;
  left: 30px;
}

.cheapest:after{
  content: "";
  position: absolute;
  background: white;
  width: 5px;
  height: 5px;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  top: 4px;
  left: 30px;
}

.cheapest-time:before {
  left: 101px !important;
}

.cheapest-time:after {
  left: 101px !important;
}

// based on https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_bottom
.tooltip {
  visibility: hidden;

  position: absolute;

  background-color: #263238;
  color: white;

  top: 110%;
  left: 50%;
  margin-left: -100%;

  padding: 0 5px;
  border-radius: 5px;
  width: 200%;
  text-align: center
}

.has-tooltip-bottom .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.has-tooltip-bottom {
  position: relative;
  display: inline-block;
}

.has-tooltip-bottom:hover .tooltip {
  visibility: visible;
}

.above {
  z-index: 2000;
  position: relative;
}

#floating {

}