@import '../node_modules/bulma/bulma.sass';
//@import '../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#map {
  flex: 7;
}

#trip {
  flex: 3;
}

#container {
  display: flex;
}

.search-block {
  display: block;
  vertical-align: middle;
}

.trip-box {
  border-radius: 25px;
  border: 2px solid #73AD21;
  width: 80%
}

#trip-container {
  background: white;
  height: 100%;
  padding: 10px;
}

.open-trip {
  border-radius: 25px;
  border: 1px solid #8F1136;
  background: crimson;
}